.form-recovery {
  height: calc(100vh - 56px);
  background-color: #614ea6;
}

.form-recovery input {
  height: 48px;
  background: #52428c;
  border: none;
  background: #52428c;
}

.form-recovery input.form-control:focus {
  color: #52428c;
}

.form-recovery input.form-control::placeholder {
  color: #e6e6e6;
}

.btn-submit {
  background-color: #ffffff;
  color: #614ea6;
  transition: all 0.3s;
}

.btn-submit:hover {
  background-color: #f21667;
  color: #ffffff;
}
