.create-event {
  height: calc(100vh + 56px);
  background-color: #614ea6;
}

.form-create-event .form-control {
  border: none;
  background-color: #52428c;
  color: #e6e6e6;
}

.form-create-event select,
.form-create-event input {
  height: 48px;
}

.form-create-event .form-control::placeholder {
  color: #e6e6e6;
  fill: #e6e6e6;
}

.form-create-event .form-control:focus::placeholder {
  color: white;
}

.btn-cadastro {
  background-color: #ffffff;
  color: #614ea6;
  transition: background-color 0.1s ease-in;
  font-weight: medium;
}

.btn-cadastro:hover {
  background-color: #f21667;
  color: #ffffff;
}
