.event-card {
  height: 100vh;
  background-color: #614ea6;
}

.card {
  background-color: #52428c;
}

.img-card {
  min-width: 100%;
  max-height: 200px;
}

.card-text {
  max-height: 100px;
  overflow: hidden;
}

.footer-card {
  height: 35px;
}

.btn-details {
  background-color: #f21667;
}
