.card {
  margin-right: 15px;
  background-color: #52428c;
}

.card:last-child {
  margin-right: none;
}

.img-card {
  min-width: 100%;
  min-height: 178px;
  max-height: 178px;
  object-fit: cover;
}

.card-text {
  max-height: 100px;
  overflow: hidden;
}

.footer-card {
  height: 35px;
}

.btn-details {
  background-color: #f21667;
}
